<% include ../partials/header %>

  <div class="container">
    <header class="jumbotron">
      <div class="container">
        <h1>Film Central</h1>
        <p>A collection of only good movies.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/movies/new">Create New Movie</a>
        </p>
      </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
      <% movies.forEach((movie) => { %>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="thumbnail">
            <img src="<%= movie.image %>" alt="<%= movie.name %>">

            <div class="caption">
              <%= movie.name %>
            </div>

            <p>
              <a href="/movies/<%= movie._id %>" class="btn btn-primary">More Info</a>
            </p>
          </div>
        </div>
        <% }); %>
    </div>

  </div>

<% include ../partials/footer %>
